---
layout: archive
---

{{ content }}

<p class="message">
  Hello! This is develop Note blog.
</p>

<p>
<a href="https://renakim.github.io/en">English Post</a>
</p>

<p>
<a href="https://renakim.github.io/ko">Korean Post</a>
</p>


{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
