---
layout: archive
---

<p class="message">
  Welcome! This is develop Note blog.
</p>

<h1>English post</h1>

{% for en_post in site.en reversed %}
<ul>
  <li>
    <a href="{{ en_post.url }}">{{ en_post.title }}</a>
  </li>
</ul>
{% endfor %}


<h1>Korean post</h1>

{% for ko_post in site.ko reversed %}
<ul>
  <li>
    <a href="{{ ko_post.url }}">{{ ko_post.title }}</a>
  </li>
</ul>
{% endfor %}



<!-- <p><a href="https://renakim.github.io/en">English Post</a></p> -->

<!-- <p><a href="https://renakim.github.io/ko">Korean Post</a></p> -->


{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
